.header {
	height: 30px;
	background-color: white;
	position: relative;
}
.header-left {
	position: absolute;
	left: 30px;
	top: 5px;
	a {
		color: black;
		position: relative;
		left: 6px;
		&:hover {
			text-decoration: none;
		}
	}
}
.header-right {
	position: absolute;
	right: 30px;
	top: 5px;
	.inline-div {
		margin: 0 3px;
		border: none;
	}
	a {
		color: black;
		position: relative;
		left: 6px;
		&:hover {
			text-decoration: none;
		}
	}
}